/* custom colors/class formatting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#question-card{
    margin: 5%;
    padding: 1%;
    background-color: beige;
    border: 2px solid black;
    border-radius: 20px;
}

#leaderheader{
    text-align: center;
}

#header{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2% 5%;
}

#center{
    text-align: center;
    justify-content: center;
    align-items: center;
}

#how-to{
    font-size: small;
}
